In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Lion King - Sheet1.csv")

In [4]:
df.head()

,Week Ending,Week Number,This Week GrossPotential Gross,Diff $,Avg TicketTop Ticket,Seats SoldSeats in Theatre,PerfsPreviews,% Cap This Week,Diff % cap
0,"Jan 18, 2026",34,"$1,668,198.80","-$39,595.00",$129.26$279.00,"129,061,696",80,95.12%,-0.16%
1,"Jan 11, 2026",33,"$1,707,793.80","-$1,438,105.20",$132.10$259.00,"129,281,696",80,95.28%,-3.77%
2,"Jan 4, 2026",32,"$3,145,899.00","-$769,660.00",$234.09$399.00,"134,391,696",80,99.05%,2.35%
3,"Dec 28, 2025",31,"$3,915,559.00","$1,161,456.00",$265.28$375.00,"147,601,696",90,96.70%,-0.80%
4,"Dec 21, 2025",30,"$2,754,103.00","$383,145.25",$208.19$339.00,"132,291,696",80,97.50%,0.50%

In [5]:
df.columns

Index(['Week Ending', 'Week Number', 'This Week GrossPotential Gross',
       'Diff $', 'Avg TicketTop Ticket', 'Seats SoldSeats in Theatre',
       'PerfsPreviews', '% Cap This Week', 'Diff % cap'],
      dtype='object')

In [14]:
split_avg.shape

(1391, 1)

In [16]:
df['Avg TicketTop Ticket'].head(10)

0    $129.26$279.00
1    $132.10$259.00
2    $234.09$399.00
3    $265.28$375.00
4    $208.19$339.00
5    $180.15$315.00
6    $181.74$325.00
7    $208.04$339.00
8    $152.44$307.00
9    $134.58$249.00
Name: Avg TicketTop Ticket, dtype: object

In [18]:
df['Avg TicketTop Ticket'].str.count('\$').value_counts()

Avg TicketTop Ticket
2    1366
1      25
Name: count, dtype: int64

**Top ticket values don’t exist for some pages.
Dollar sign $ is the separator.
Using regex to extract prices**

In [17]:
price_split = df['Avg TicketTop Ticket'].str.findall(r'\$\d+(?:\.\d+)?')

df['Avg Ticket'] = price_split.str[0]
df['Top Ticket'] = price_split.str[1]

In [19]:
df[[ 'Avg Ticket', 'Top Ticket']].head(10)

  Avg Ticket Top Ticket
0    $129.26    $279.00
1    $132.10    $259.00
2    $234.09    $399.00
3    $265.28    $375.00
4    $208.19    $339.00
5    $180.15    $315.00
6    $181.74    $325.00
7    $208.04    $339.00
8    $152.44    $307.00
9    $134.58    $249.00

In [20]:
df[['Avg Ticket', 'Top Ticket']].isna().sum()

Avg Ticket     0
Top Ticket    25
dtype: int64

In [22]:
df['Seats SoldSeats in Theatre'].head(10)

0    129,061,696
1    129,281,696
2    134,391,696
3    147,601,696
4    132,291,696
5    131,611,696
6    132,621,696
7    133,971,696
8    129,541,696
9    130,831,696
Name: Seats SoldSeats in Theatre, dtype: object

In [12]:
seat_split = df['Seats SoldSeats in Theatre'].str.findall(r'\d[\d,]*')

df['Seats Sold'] = seat_split.str[0]
df['Seats in Theatre'] = seat_split.str[1]

In [23]:
df[['Seats Sold', 'Seats in Theatre']].isna().sum()

Seats Sold             0
Seats in Theatre    1391
dtype: int64

In [25]:
df.head()

,Week Ending,Week Number,This Week GrossPotential Gross,Diff $,Avg TicketTop Ticket,Seats SoldSeats in Theatre,PerfsPreviews,% Cap,Diff % cap,Avg Ticket,Top Ticket,Seats Sold,Seats in Theatre
0,"Jan 18, 2026",34,"$1,668,198.80","-$39,595.00",$129.26$279.00,"129,061,696",80,95.12%,-0.16%,$129.26,$279.00,"129,061,696",NaN
1,"Jan 11, 2026",33,"$1,707,793.80","-$1,438,105.20",$132.10$259.00,"129,281,696",80,95.28%,-3.77%,$132.10,$259.00,"129,281,696",NaN
2,"Jan 4, 2026",32,"$3,145,899.00","-$769,660.00",$234.09$399.00,"134,391,696",80,99.05%,2.35%,$234.09,$399.00,"134,391,696",NaN
3,"Dec 28, 2025",31,"$3,915,559.00","$1,161,456.00",$265.28$375.00,"147,601,696",90,96.70%,-0.80%,$265.28,$375.00,"147,601,696",NaN
4,"Dec 21, 2025",30,"$2,754,103.00","$383,145.25",$208.19$339.00,"132,291,696",80,97.50%,0.50%,$208.19,$339.00,"132,291,696",NaN

In [27]:
clean_seats = df['Seats SoldSeats in Theatre'].str.replace(',', '', regex=False)

In [31]:
df['Seats in Theatre'] = pd.to_numeric(
    clean_seats.str[-4:], errors='coerce'
)

In [32]:
df['Seats Sold'] = pd.to_numeric(
    clean_seats.str[:-4], errors='coerce'
)

In [33]:
df[['Seats Sold', 'Seats in Theatre']].isna().sum()

Seats Sold          2
Seats in Theatre    0
dtype: int64

**Conclusion and Justification**

(Week Ending)
Column begins with a header followed by valid weekly values. Since the data is correctly structured, this column can be used as-is after excluding the header row. It provides the temporal reference for all other metrics and is therefore retained without modification.

(Avg Ticket – Top Ticket)
Column is incorrectly labelled due to a repeated HTML class (col-1) in the source. Although the label is wrong, the underlying text contains two distinct values:
Average ticket price
Top ticket price

(Seats Sold – Seats in the Theatre)
Column is similarly mislabelled and contains two metrics combined into a single field:
Seats sold
Seats in the theatre
Initial inspection showed that the “Seats in the Theatre” value remained constant for a large portion of the dataset, which initially suggested that it might be safely omitted. However, further inspection across later weeks revealed that this value does change over time, meaning it represents meaningful information rather than redundant data.
Due to the absence of a reliable delimiter in the CSV (values were concatenated), the seats sold value was extracted directly, and the seats-in-theatre value was reconstructed only after validating its consistency and change across weeks. This ensures that no meaningful capacity information is lost.

(% Cap)
Column represents the percentage of seats filled (% capacity). Although it is incorrectly labelled as “Perfs” in the HTML source, validation against expected occupancy values confirms that it corresponds to % capacity. Since this metric directly depends on seats sold and total capacity, it is retained and renamed appropriately.

In [35]:
df_final = df[[
    'Week Ending',
    'Avg Ticket',
    'Top Ticket',
    'Seats Sold',
    'Seats in Theatre',
    '% Cap'
]]

In [36]:
print("Week Endings:")
print(df_final['Week Ending'].iloc[-5:-1].tolist())

print("Avg Tickets:")
print(df_final['Avg Ticket'].iloc[-5:-1].tolist())

print("Top Tickets:")
print(df_final['Top Ticket'].iloc[-5:-1].tolist())

print("Seats sold:")
print(df_final['Seats Sold'].iloc[-5:-1].tolist())

print("Seats in theatre:")
print(df_final['Seats in Theatre'].iloc[-5:-1].tolist())

print("% Cap:")
print(df_final['% Cap'].iloc[-5:-1].tolist())

Week Endings:
['Nov 16, 1997', 'Nov 9, 1997', 'Nov 2, 1997', 'Oct 26, 1997']
Avg Tickets:
['$56.52', '$56.42', '$56.75', '$58.12']
Top Tickets:
['$75.00', '$75.00', '$75.00', '$75.00']
Seats sold:
[11397.0, 13372.0, 11811.0, 12460.0]
Seats in theatre:
[1745, 1745, 1745, 1745]
% Cap:
['81.64%', '95.79%', '84.61%', '89.26%']

In [37]:
for col in df_final.columns:
    print(col, ":", len(df_final[col]))

print("Total columns:", len(df_final.columns))

Week Ending : 1391
Avg Ticket : 1391
Top Ticket : 1391
Seats Sold : 1391
Seats in Theatre : 1391
% Cap : 1391
Total columns: 6

In [40]:
broadway_lion_king_data = df_final.rename(columns={
    'Week Ending': 'Week Endings',
    'Avg Ticket': 'Avg Ticket Price ($)',
    'Top Ticket': 'Top Ticket Price ($)'
})

broadway_lion_king_data.to_csv(
    "broadway_lion_king_data.csv",
    index=False
)

In [3]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	Untitled.ipynb
	anaconda_projects/
	lion-king-datacollect.ipynb

nothing added to commit but untracked files present (use "git add" to track)

In [4]:
!git add .
!git commit -m "lion king data collect"
!git push

warning: in the working copy of '.ipynb_checkpoints/Untitled-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of '.ipynb_checkpoints/lion-king-datacollect-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'Untitled.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'lion-king-datacollect.ipynb', LF will be replaced by CRLF the next time Git touches it

[main e672207] lion king data collect
 5 files changed, 1785 insertions(+)
 create mode 100644 .ipynb_checkpoints/Untitled-checkpoint.ipynb
 create mode 100644 .ipynb_checkpoints/lion-king-datacollect-checkpoint.ipynb
 create mode 100644 Untitled.ipynb
 create mode 100644 anaconda_projects/db/project_filebrowser.db
 create mode 100644 lion-king-datacollect.ipynb

To https://github.com/manyakukreja1306/lion-king-movie-broadway-impact.git
   bb6d7c2..e672207  main -> main